.header {
    display: flex;
    justify-content: flex-start;
    align-items: center ;
    padding: 2.5px 80px;
}

@media screen and (max-width: 550px) {
    .header {
        padding: 2.5px 30px;
    }
}

@media screen and (max-width: 450px) {


    .header {
        justify-content: space-between;
    }

    .header__nav {
        width: auto ;
        height: 60px;
    }

    .header__barraBusqueda {
        display: none;
    }

    .header__search {
        display: inline-flex;
    }
}