@import url("./menu.css");
@import url("./login.css");
@import url("./logo.css");
@import url("../base/_variables.css");

.header {
    display: flex;
    flex-direction: column;
}

.header__menu {
    display: flex;
    justify-content: space-evenly;    
    height: auto;
    align-items: center;
    padding: 10px 20px;
}

.header__logo {
    width: 8.5rem;
}

.header__banner {
    background: url("/assets/img/banner.png") center / cover no-repeat;  
    height: 300px;
    padding: 30px;
    
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

.header__iformacion {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 160px;
    width: 80%;
}

.header__titulo {
    color: var(--banner-titulo-color);
    font: bold 48px var(--fuente-principal);
}

.header__descripcion {
    color: var(--body-background);
    font: bold 1.15rem var(--fuente-principal);
}

.header__search {
    background: none;
    border: none;
    font-size: 1.2rem;
    display: none;
}

@media screen and (max-width: 768px) {
    .header__logo {
        width: 7.25rem;
    }

    .header__menu {
        height: 4.5rem;
        padding: 0px 20px;
        justify-content: space-between;
    }

    .header__banner {
        justify-content: flex-start;
        padding: 20px;
    }

    .header__iformacion {
        width: 100%;
    }

}

@media screen and (max-width: 590px) {


    .header__banner {
        justify-content: center;
        padding: 10px;
    }

    .header__titulo {
        font-size: 2.3rem;
    }

    .header__descripcion {
        font-size: 1rem;
    }

    .header__search {
        display: inline-flex;
    }
}

@media screen and (max-width: 450px) {

    .header__titulo {
        font-size: 2.1rem;
    }

    .header__descripcion {
        font-size: 0.95rem;
    }
}

@media screen and (max-width: 390px) {
    .header__titulo {
        font-size: 1.6rem;
    }
    
    .header__descripcion {
        font-size: 0.88rem;
    }
}