.header__login {
    padding: .5rem 3.5rem;
    color: var(--boton-color);
    background: none;
    font-size: 1.05rem;
}

.header__login:hover {
    background: var(--boton-color);
    color: var(--body-background);
}

@media screen and (max-width: 768px) {
    .header__login {
        font-size: .95rem;
        padding: .1rem 3.5rem;
        height: 2.8rem;
    }
}