@import url("../base/_variables.css");

.header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    width: 500px;
}

.header__barraBusqueda {
    background: var(--barraBusqueda-background);
    border-radius: var(--barraBusqueda-border);
}

.header__input {
    outline: none;
    padding: var(--barraBusqueda-padding);
    color: var(--barraBusqueda-color);
    font-family: 'Roboto', sans-serif;
    background: none;    
    width: 300px;
    border-width: 0px;
}

.header__input::placeholder {
    color: var(--barraBusqueda-color);
}

.header__submit {
    background: none;
    padding: var(--barraBusqueda-padding);
    position: relative;
    right: 4px;
    color: var(--barraBusqueda-color);
    border-width: 0px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .header__input  {
        width: 200px;
    }

    .header__nav {
        width: 400px;
    }
}

@media screen and (max-width: 590px) {

    .header__barraBusqueda {
        display: none;
    }

    .header__nav {
        width: auto ;
    }
}

