
.footer__contenido {
    /* margin-top: 60px; */
    display: flex;
    padding: 50px 35px;
    background: var(--footer-background);
    flex-flow: column wrap;
    justify-content: space-between;
    /* align-content: space-between; */
    align-items: center;
    height: var(--footer-contenido-width);
}

.footer__logo {
    width: 176px;
    height: 50px;
}

.footer__info {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: var(--footer-contenido-width);
}

.footer__elemento {
    font: 500 1.08rem var(--fuente-principal);
}

.footer__formulario {
    width: 600px;
}

.footer__creador {
    padding: 20px;
    text-align: center;
}

.footer__creador-titulo {
    font: 500 1.05rem var(--fuente-principal);
}

@media screen and (max-width: 1120px) {
    .footer__formulario {
        width: 450px;
    }
}

@media screen and (max-width: 950px)  {

    .footer__contenido {
        padding: 50px 25px;
        align-content: space-between;
    }

    .footer__formulario {
        width: 400px;
    }
}

@media screen and (max-width: 850px) {
    .footer__contenido   {
        padding: 50px 15px;
    }

    .footer__formulario {
        width: 340px;
    }
}

@media screen and (max-width: 768px) {
    .footer__contenido {
        padding: 50px 30px;
        align-content: space-between;
        height: calc(60px + var(--footer-contenido-width));
    }

    .footer__formulario {
        width: 65%;
    }
}

@media screen and (max-width: 660px) {

    .footer__contenido {
        padding: 40px 20px;
    }

    .footer__formulario {
        width: 60%;
    }
}

@media screen and (max-width: 560px) {
    .footer__contenido {
        height: calc(70px + var(--footer-contenido-width) * 2);
        align-content: center ;
    }

    .footer__info {
        text-align: center;
    }

    .footer__formulario {
        margin-top: 1.6rem;
        width: 95%;
    }
}

@media screen and (max-width: 360px) {
    .footer__creador-titulo {
        font-size: .88rem;
    }
}