.contenido {
    display: flex;
    background: #E5E5E5;
    align-items: center;
    justify-content: center;
    padding: 80px 10px;
}

.contenido__formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formulario__login {
    width: 400px;
}

.formulario__login-titulo {
    text-align: center;
}

.formulario__producto {
    width: 740px;
}

.formulario__producto-titulo {
    font-size: 1.95rem;
    margin-bottom: 15px;
}

.contenido__formulario > .input-container, 
.contenido__formulario > .boton__principal {
    width: 100%;
}

@media screen and (max-width: 768px) {

    .formulario__producto-titulo {
        font-size: 1.38rem;
    }
}

@media screen and (max-width: 450px) {

    .formulario-login {
        width: 300px;
        align-items: center ;
    }

    .formulario-login > .boton__principal {
        width: 60%;
    }
}